<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="resources/styles/index/sass/index.css" />
        <link rel="stylesheet" href="resources/styles/sass/header.css" />
        <link rel="stylesheet" href="resources/styles/sass/menu.css" />
        <link rel="stylesheet" href="resources/styles/sass/footer.css" />
        <link rel="stylesheet" href="/resources/styles/sass/search.css" />
        <link rel="stylesheet" href="resources/styles/index/sass/slider.css" />
        <link rel="shortcut icon" href="/resources/images/favicon.ico" type="image/x-icon" />
        <title>ВСП "КРФК НАУ"</title>
    </head>
    <body>
        <div id="CONTAINER">
            <section id="sky-section">
                <%- include("blocks/header.ejs") %> <%- include("blocks/menu.ejs") %>

                <div class="flex">
                    <!-- Main Slider -->
                    <section class="slider-wrapper flex-child-2">
                        <div class="slider">
                            <% for (let i = 0; i < slider1Imgs.length; i++) { %>
                            <img
                                src="data:<%= slider1Imgs[i].mimetype %>;base64,<%= slider1Imgs[i].img %>"
                                loading="lazy"
                                alt="slide"
                                class="slide"
                            />
                            <% } %>
                        </div>
                        <div class="slider-button slider-button-left">
                            <img src="resources/images/index/main_slider/left_white.png" />
                        </div>
                        <div class="slider-button slider-button-right">
                            <img src="resources/images/index/main_slider/right_white.png" />
                        </div>
                        <div class="points"></div>
                    </section>
                    <div class="flex-child-1 info-block">
                        <div id="offer">Підготовчі курси</div>
                        <div class="desk-wrapper-info-block">
                            <div class="desk">
                                <div class="desk-title">
                                    Триває реєстрація на підготовчі курси для вступників 2024 року
                                    <br/> Для запису на курси телефонуйте
                                </div>
                                <div class="desk-title" style="color: red"> 067-296-71-75</div>
                                <!--<div class="desk-title">
                                    <a
                                        href="http://kk.nau.edu.ua/article/3380"
                                        >Актуальна інформація щодо вступу</a
                                    >
                                    <br />
                                    <a
                                        href=" http://kk.nau.edu.ua/article/1959"
                                        >Нормативно-правова база</a
                                    >
                                </div> -->
                                <!-- <div class="ribbon"></div> --> 
                                <div class="desk-title">
                                    <a
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSepVY9TFwivWANqSevljbrSqbEeZcyo2C5Qs0gQE9QOA5Gopg/viewform?usp=sharing"
                                        >або реєструйтесь за посиланням</a
                                    >
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- CONTENT -->
            <section id="CONTENT">
                <table class="phrase-in-table">
                    <tr>
                        <td>
                            <a href="/article/3037"
                                ><div class="specializations-link-btn">На які спеціальності я можу поступити?</div></a
                            >
                        </td>
                    </tr>
                </table>

                <section id="NEWS">
                    <div class="desk-wrapper"><%- include("blocks/news.ejs") %></div>
                </section>
            </section>

            <%- include("blocks/footer.ejs") %>
        </div>
        <div id="scrollButton" onclick="scrollToTop()" ><img src="/resources/images/airplane.png" alt="page-up"></div>
    </body>
    <script src="resources/styles/index/slider.js"></script>
    <script src="resources/styles/index/small-menu.js"></script>
    <script src="resources/styles/page-up.js"></script>
</html>
