<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="resources/styles/index/sass/index.css">
        <link rel="stylesheet" href="resources/styles/sass/header.css">
        <link rel="stylesheet" href="resources/styles/sass/menu.css">
        <link rel="stylesheet" href="resources/styles/sass/footer.css">
        <link rel="stylesheet" href="resources/styles/index/sass/slider.css">
        <link rel="stylesheet" href="resources/styles/index/sass/sub-slider.css">
        <link rel="shortcut icon" href="/resources/images/favicon.ico" type="image/x-icon">
        <title>ВСП "КРФК НАУ"</title>
    </head>
    <body>
        <div id="CONTAINER">
            <section id="sky-section">
                <%- include("blocks/header.ejs") %> 
                
                <%- include("blocks/menu.ejs") %> 
    
                <!-- Main Slider -->
                <section class="slider-wrapper">
                    <div class="slider">
                        <% for (let i = 0; i < slider1Imgs.length; i++) { %>
                            <img src="data:<%= slider1Imgs[i].mimetype %>;base64,<%= slider1Imgs[i].img %>" loading="lazy" alt="slide" class="slide">
                        <% } %>
                    </div>
                    <div class="slider-button slider-button-left"><img src="resources/images/index/main_slider/left_white.png"></div>
                    <div class="slider-button slider-button-right"><img src="resources/images/index/main_slider/right_white.png"></div>
                    <div class="points"></div>
                </section>
                <div id="offer">Запрошуємо на навчання!</div>
                <!-- <a href="#"><div class="button">Правила прийому</div></a> -->
            </section>
    
            <!-- CONTENT -->
            <section id="CONTENT">

                <div class="desk-wrapper">
                    <div class="desk">
                        <div class="desk-title"><a href="/article/541">ПРЕЗЕНТАЦІЯ КОЛЕДЖУ ТА СПЕЦІАЛЬНОСТЕЙ</a></div>
                        <div class="ribbon"></div>
                    </div>
                </div>
                
                <table class="phrase-in-table"><tr><td>На які спеціальності я можу поступити?</td></tr></table>
    
                <div class="desk-wrapper">
                    <div class="desk">
                        <div class="desk-title">Денна форма навчання</div>
                        <div class="desk-text">
                            <div>
                                <p>Фаховий молодший бакалавр:</p>
                                <ul>
                                    <li><a href="/article/1981">121 Інженерія програмного забезпечення</a></li>
                                    <li><a href="/article/1983">123 Комп'ютерна інженерія</a></li>
                                    <li><a href="/article/1971">141 Електроенергетика, електротехніка та електромеханіка</a></li>
                                    <li><a href="/article/1985">151 Автоматизація та комп`ютерно-інтегровані технології</a></li>
                                    <li><a href="/article/1977">172 Телекомунікації та радіотехніка</a></li>
                                    <li><a href="/article/1972">173 Авіоніка</a></li>
                                    <li><a href="/article/1976">275 Транспортні технології (повітряний транспорт)</a></li>
                                    <li><a href="/article/1973">272 Авіаційний транспорт</a></li>
                                </ul>
                            </div>
                            <div>
                                <p>Бакалавр:</p>
                                <ul>
                                    <li><a href="/article/247">123 Комп'ютерна інженерія</a></li>
                                    <li><a href="/article/251">141 Електроенергетика, електротехніка та електромеханіка</a></li>
                                    <li><a href="/article/255">172 Телекомунікації та радіотехніка</a></li>
                                    <li><a href="/article/259">272 Авіаційний транспорт</a></li>
                                    <li><a href="/article/170">073 Менеджмент</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ribbon"></div>
                    </div>
                    
                    <div class="desk">
                        <div class="desk-title">Заочна форма навчання</div>
                        <div class="desk-text">
                            <div>
                                <p>Фаховий молодший бакалавр:</p>
                                <ul>
                                    <li><a href="/article/1983">123 Комп'ютерна інженерія</a></li>
                                    <li><a href="/article/1971">141 Електроенергетика, електротехніка та електромеханіка</a></li>
                                    <li><a href="/article/1985">151 Автоматизація та комп'ютерно-інтегровані технології</a></li>
                                    <li><a href="/article/1977">172 Телекомунікації та радіотехніка</a></li>
                                    <li><a href="/article/1972">173 Авіоніка</a></li>
                                    <li><a href="/article/1976">275 Транспортні технології (повітряний транспорт)</a></li>
                                    <li><a href="/article/1973">272 Авіаційний транспорт</a></li>
                                </ul>
                            </div>
                            <div>
                                <p>Бакалавр:</p>
                                <ul>
                                    <li><a href="/article/247">123 Комп'ютерна інженерія</a></li>
                                    <li><a href="/article/251">141 Електроенергетика, електротехніка та електромеханіка</a></li>
                                    <li><a href="/article/255">172 Телекомунікації та радіотехніка</a></li>
                                    <li><a href="/article/259">272 Авіаційний транспорт</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ribbon"></div>
                    </div>
                </div>

                <div class="desk-wrapper">
                    <div class="desk">
                        <div class="desk-title"><a href="/article/1433">ЛІЦЕНЗІЇ ПРО НАДАННЯ ОСВІТНІХ ПОСЛУГ</a><hr style="color: blue; width: 50%; margin: auto; margin-top: 10px; margin-bottom: 10px;"><a href="/article/137">СЕРТИФІКАТИ АКРЕДИТАЦІЇ</a></div>
                        <div class="ribbon"></div>
                    </div>
                </div>

                <div class="desk-wrapper">
                    <div class="desk">
                        <div class="desk-title">Військова підготовка</div>
                        <div class="desk-text">
                            <div>
                                <div>Курсанти коледжу за власним бажанням мають можливість проходити військову підготовку за контрактом на факультеті підготовки офіцерів запасу Національного авіаційного університету.</div>
                            </div>
                            <!-- <div>
                                <a href="#">Детальніше...</a>
                            </div> -->
                        </div>
                        <div class="ribbon"></div>    
                    </div>
                </div>
    
                <!-- Sub Slider -->
                <div class="sub-slider-wrapper">
                    <div class="sub-slider">
                        <% for (let i = 0; i < slider2Imgs.length; i++) { %>
                            <% if (i == 0) { %>
                                <ul class="slides-list">
                            <% } %>
                            
                            <li><img src="data:<%= slider2Imgs[i].mimetype %>;base64,<%= slider2Imgs[i].img %>" loading="lazy" alt="slide" class="sub-slider-slide"></li>
                            <% if ((i + 1) % 5 == 0 && i != 0) { %>
                                </ul class="slides-list">
                                <% if (i == slider2Imgs.length - 1) {break} %>
                                <ul class="slides-list">
                            <% } %>
                            <% if (i == slider2Imgs.length - 1) { %>
                                </ul class="slides-list">
                            <% } %>
                        <% } %>
                    </div>
                    <div class="sub-slider-button sub-slider-button-left"><img src="resources/images/index/main_slider/left_white.png"></div>
                    <div class="sub-slider-button sub-slider-button-right"><img src="resources/images/index/main_slider/right_white.png"></div>
                    <div class="sub-slider-points"></div>
                </div>
                
                <section id="NEWS">
                    <div class="desk-wrapper">
                        <%- include("blocks/news.ejs") %> 
                    </div>
                </section>
                
            </section>
    
            <%- include("blocks/footer.ejs") %> 
    
            <div class="modal-image-wrapper">
                <img src="" class="modal-image">
                <img src="resources/images/close.png" class="close-modal-button"></img>
            </div>
        </div>

    </body>
    <script src="resources/styles/index/slider.js"></script>
    <script src="resources/styles/index/sub-slider.js"></script>
    <script src="resources/styles/index/small-menu.js"></script>
</html>